
/*  Adding the background to the body */

/* body{ 
    background-image: url("https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg");
}*/

:root {
    --primary-color: #0023cf;
    --dark-gray: #6B7280;
    --offwhite: #E5E7EB;
}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;    
    background-color: black;
    color: white;
}

hr {
    margin: 2rem 0.5rem;
}

/* Container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: 3rem auto;
    text-align: center;
}

h1{
    font-size: 1.6em;
}

small{
    margin-top: 0%;
}

.container-margin{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* List */
.non-bullet-list {
    list-style: none;
}

/* For inline list  */
/* use class attribute in li tag
and set display:inline*/

.list_item_inline {
    display: inline;
    /* padding: 0rem(for top&bottom) 0.5rem(for left&ri8) */
    padding: 0rem 0.5rem;
}

/* Nav */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 199px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.hero .hero-heading {
    text-align: center;
    padding: 1rem;
    color: var(--dark-gray);
}

.change-color {
    color: var(--primary-color);
}

/* Section */

.section {
    padding: 1rem;
}

.section h1 {
    text-align: center;
}
/* 
.ow {
    background-color: var(--offwhite);
} */

/* Footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.blog{
    overflow-wrap: normal;
}

.code-img{
    max-width: 80%;
    display: block;
    margin: auto;
}